<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd		
  		http://www.springframework.org/schema/util  
    	http://www.springframework.org/schema/util/spring-util.xsd">


	<!-- <bean class="org.springframework.session.config.annotation.web.http.SpringHttpSessionConfiguration"></bean> -->

	<!-- <bean class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory"/> -->

	<!-- <util:constant static-field="org.springframework.session.data.redis.config.ConfigureRedisAction.NO_OP"/>
 -->	
    <bean id="sessionRepository" class="org.springframework.session.data.redis.RedisOperationsSessionRepository">
        <constructor-arg ref="redisTemplate" />
    </bean>
  
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>
</beans>